html,
body,
#root {
  margin: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

body {
  overflow: hidden;
  font-family:
    "IBM Plex Sans",
    "Segoe UI",
    sans-serif;
  background: transparent;
}
